#form {
  width: 400px;
  height: 500px;
  background-color: aquamarine;
  margin-left: 35%;
  margin-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h3 {
  text-align: center;
  background-color: lightcoral;
}
.name1 {
  color: blue;
}
.name2  {
  color: blue;
  text-align: end;
  margin-left: 32%;
}
.div1{
    margin: 20px;
}
#name1{
    width: 150px;
    border-radius: 15px;
}
#name2{
    width: 150px;
    border-radius: 15px;
}
