*{
    margin: 0;
    padding: 0;
}
.photo{
    height: 51px;
}
.navbar{
    height: 9%;
    width: 100%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
.nav{
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 25px;
}
.navbar-option{
    margin-left: 0 ;
}
.sidebar{
    background-color: rgb(160,160,160);
    width: 20%;
    height: 34.5rem,;
    border-right: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer { 
    background-color: lightseagreen;
    width: 100%;
    height: 8%;
    border: 2px solid black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main{
    background-color: wheat;
    width: 80%;
    height: 34.5rem;
    border-right: 2px solid black;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;

}
.ak { 
    display: flex;
}
.side {
    width: 90%;
    height: 5rem;
    background-color: darkblue;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 1rem;
}
.imag{
    width: 90%;
    margin: 10px;
    border-radius: 1rem;
    border: 2px solid black;
}
.card{
    height: 300px;
    width: 200px;
    background-color: blueviolet;
    margin: 10px;
    border: 2px solid black;
    border-radius: 1rem;
}
.text {
    color: white;
    font-size: 20px;
    margin: 10px;
}
