body{
    text-align: center;
    background-color: rgb(255, 191, 107);
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line1, .line2 {
    display: flex;
}

.yellow{
    background-color: rgb(255, 255, 0);
}

.red{
    background-color: rgb(255, 0, 0);
}

.purple {
    background-color: rgb(255, 0, 255);
}

.green {
    background-color: rgb(0, 255, 0);
}

.flash {
    opacity: 0.4;
}
